{% extends "core/base.html" %}
{% block Title %}Tienda
    
{% endblock  %}
{% block h1 %}
Tienda
{% endblock  %}
{% block li %}
<li class="breadcrumb-item">Home</a></li>
<li class="breadcrumb-item">Páginas</a></li>
<li class="breadcrumb-item text-dark" aria-current="page">Tienda</li>
{% endblock %}
{% load static %}
{% block content  %}

   
    <!-- Store Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="section-title text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <p class="fs-5 fw-medium fst-italic text-primary">Tienda en Línea</p>
                <h1 class="display-6">¿Quieres mantenerte entretenido? Elige el sabor de los videojuegos</h1>
            </div>
            <div class="row g-4">
                {% for product  in products %}
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="store-item position-relative text-center">
                        <img class="img-fluid" src="{{product.image.url}}" alt="">
                        <div class="p-4">
                            <div class="text-center mb-3">
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                            </div>
                            <h4 class="mb-3">{{product.title}}</h4>
                            <p>{{product.content|safe}}</p>
                            <h4 class="text-primary">${{product.price}}</h4>
                        </div>
                        
                        
                    </div>
                </div>
                {% endfor %}
                
                
            </div>
        </div>
    </div>
    <!-- Store End -->
{% endblock  %}