{% extends "core/base.html" %}
{% block Title %}Contact
    
    {% endblock  %} 
{% block h1 %}
Contacto
{% endblock  %}
{% block li %}
<li class="breadcrumb-item"><a href="#">Home</a></li>
<li class="breadcrumb-item"><a href="#">Páginas</a></li>
<li class="breadcrumb-item text-dark" aria-current="page">Contacto</li>
{% endblock %}
{% load static %}
{% block content  %}

   <!-- Contact Start -->
   <div class="container-xxl contact py-5">
    <div class="container">
        <div class="section-title text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <p class="fs-5 fw-medium fst-italic text-primary">Contáctenos</p>
            <h1 class="display-6">Si tiene alguna consulta, por favor contáctenos</h1>
        </div>
        <div class="row g-5 mb-5">
            <div class="col-md-4 text-center wow fadeInUp" data-wow-delay="0.3s">
                <div class="btn-square mx-auto mb-3">
                    <i class="fa fa-envelope fa-2x text-white"></i>
                </div>
                <p class="mb-2">info@example.com</p>
                <p class="mb-0">soporte@example.com</p>
            </div>
            <div class="col-md-4 text-center wow fadeInUp" data-wow-delay="0.4s">
                <div class="btn-square mx-auto mb-3">
                    <i class="fa fa-phone fa-2x text-white"></i>
                </div>
                <p class="mb-2">+593 997 762534</p>
                <p class="mb-0">+593 927 764534</p>
            </div>
            <div class="col-md-4 text-center wow fadeInUp" data-wow-delay="0.5s">
                <div class="btn-square mx-auto mb-3">
                    <i class="fa fa-map-marker-alt fa-2x text-white"></i>
                </div>
                <p class="mb-2">123 Calle</p>
                <p class="mb-0">Quito, EC</p>
            </div>
        </div>
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <h3 class="mb-4">¿Necesita un formulario de contacto funcional?</h3>
                <p class="mb-4">El formulario de contacto está actualmente inactivo. Obtenga un formulario de contacto funcional y operativo con Ajax y PHP en pocos minutos. Simplemente copie y pegue los archivos, agregue un poco de código y ¡listo! <a href="https://htmlcodex.com/contact-form">Descargar Ahora</a>.</p>
                <form>
                    <div class="row g-3">
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="name" placeholder="Su Nombre">
                                <label for="name">Su Nombre</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="email" class="form-control" id="email" placeholder="Su Correo Electrónico">
                                <label for="email">Su Correo Electrónico</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="subject" placeholder="Asunto">
                                <label for="subject">Asunto</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <textarea class="form-control" placeholder="Deje un mensaje aquí" id="message" style="height: 120px"></textarea>
                                <label for="message">Mensaje</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary rounded-pill py-3 px-5" type="submit">Enviar Mensaje</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="h-100">
                    <iframe class="w-100 rounded"
                        src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15959.165307856501!2d-78.48655964999999!3d-0.21076085!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2sec!4v1704513386927!5m2!1ses!2sec"
                        frameborder="0" style="height: 100%; min-height: 300px; border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->
{% endblock  %}