{% extends "core/base.html" %}
{% block Title %}Testimonios
    
{% endblock  %}
{% block h1 %}
Testimonial
{% endblock  %}
{% block li %}
<li class="breadcrumb-item"><a href="#">Home</a></li>
<li class="breadcrumb-item"><a href="#">Pages</a></li>
<li class="breadcrumb-item text-dark" aria-current="page">Testimonios</li>
{% endblock %}
{% load static %}
{% block content  %}

    
    <!-- Testimonial Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="section-title text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <p class="fs-5 fw-medium fst-italic text-primary">Testimonios</p>
                <h1 class="display-6">Lo que dicen nuestros clientes sobre nuestros videojuegos</h1>
            </div>
            <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.5s">
                <div class="testimonial-item p-4 p-lg-5">
                    <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vitae ultricies lectus. Cras tincidunt varius arcu, nec aliquet urna. Fusce auctor, ligula sit amet luctus fringilla, justo odio pretium tortor, a dignissim felis eros et mauris.</p>
                    <div class="d-flex align-items-center justify-content-center">
                        <img class="img-fluid flex-shrink-0" src="{% static 'core/img/testimonial-1.jpg' %}" alt="">
                        <div class="text-start ms-3">
                            <h5>Nombre del Cliente</h5>
                            <span class="text-primary">Profesión</span>
                        </div>
                    </div>
                </div>
                <div class="testimonial-item p-4 p-lg-5">
                    <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vitae ultricies lectus. Cras tincidunt varius arcu, nec aliquet urna. Fusce auctor, ligula sit amet luctus fringilla, justo odio pretium tortor, a dignissim felis eros et mauris.</p>
                    <div class="d-flex align-items-center justify-content-center">
                        <img class="img-fluid flex-shrink-0" src="{% static 'core/img/testimonial-2.jpg' %}" alt="">
                        <div class="text-start ms-3">
                            <h5>Nombre del Cliente</h5>
                            <span class="text-primary">Profesión</span>
                        </div>
                    </div>
                </div>
                <div class="testimonial-item p-4 p-lg-5">
                    <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vitae ultricies lectus. Cras tincidunt varius arcu, nec aliquet urna. Fusce auctor, ligula sit amet luctus fringilla, justo odio pretium tortor, a dignissim felis eros et mauris.</p>
                    <div class="d-flex align-items-center justify-content-center">
                        <img class="img-fluid flex-shrink-0" src="{% static 'core/img/testimonial-3.jpg' %}" alt="">
                        <div class="text-start ms-3">
                            <h5>Nombre del Cliente</h5>
                            <span class="text-primary">Profesión</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->
{% endblock  %}