{% extends "core/base.html" %}
{% block Title %}Contact
    
    {% endblock  %} 
{% block h1 %}
Contacto
{% endblock  %}
{% block li %}
<li class="breadcrumb-item">Home</a></li>
<li class="breadcrumb-item">Páginas</a></li>
<li class="breadcrumb-item text-dark" aria-current="page">Contacto</li>
{% endblock %}
{% load static %}
{% block content  %}

   <!-- Contact Start -->
   <div class="container-xxl contact py-5">
    <div class="container">
        <div class="section-title text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <p class="fs-5 fw-medium fst-italic text-primary">Contáctenos</p>
            <h1 class="display-6">Si tiene alguna consulta, por favor contáctenos</h1>
    
            </div>
        <div class="row g-5 mb-5">
            <div class="col-md-4 text-center wow fadeInUp" data-wow-delay="0.3s">
                <div class="btn-square mx-auto mb-3">
                    <i class="fa fa-envelope fa-2x text-white"></i>
                </div>
                <p class="mb-2">info@gamestore.com</p>
                
            </div>
            <div class="col-md-4 text-center wow fadeInUp" data-wow-delay="0.4s">
                <div class="btn-square mx-auto mb-3">
                    <i class="fa fa-phone fa-2x text-white"></i>
                </div>
                <p class="mb-2">+593 997 762534</p>
              
            </div>
            <div class="col-md-4 text-center wow fadeInUp" data-wow-delay="0.5s">
                <div class="btn-square mx-auto mb-3">
                    <i class="fa fa-map-marker-alt fa-2x text-white"></i>
                </div>
                <p class="mb-2">123 Calle</p>
                <p class="mb-0">Quito, EC</p>
            </div>
        </div>
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <h3 class="mb-4">Contáctenos</h3>
                <p class="mb-4">
                {% if 'ok' in request.GET %}
               <p><b>Su mensaje se ha enviado correctamente, pronto nos pondremos en contacto</b></p>
             {% endif %}
             {% if 'fail' in request.GET %}
               <p><b>Hubo un problema con el envío, por favor intenta más tarde</b></p>
             {% endif %}
             <form action="" method="POST">
                {% csrf_token %}
                    <div class="row g-3">
                        <div class="col-md-6">
                            <div class="form-floating">
                                <label>Nombre *</label>
                                <div class="input-group">
                                  {{contact_form.name}}
                                </div>
                                {{contact_form.name.errors}}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <div class="input-group">
                                    {{contact_form.email}}
                                  </div>
                                  {{contact_form.email.errors}}
                            </div>
                        </div>
                        
                        <div class="col-12">
                            <div class="form-floating">
                                <label>Mensaje *</label>
                 <div class="input-group">
                   {{contact_form.message}}
                 </div>
                 {{contact_form.message.errors}}
                            </div>
                        </div>
                        <div class="col-12">
                            <input
                   type="submit"
                   class="btn btn-primary btn-block py-2"
                   value="Enviar"
                 />
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="h-100">
                    <iframe class="w-100 rounded"
                        src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15959.165307856501!2d-78.48655964999999!3d-0.21076085!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2sec!4v1704513386927!5m2!1ses!2sec"
                        frameborder="0" style="height: 100%; min-height: 300px; border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->
{% endblock  %}